<!doctype html>
<html lang="en">
  <head>
    <script src="/static/htmx/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" />
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/static/png/logo.png" alt="logo" width="48" height="48" />
          Papernote
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
          </ul>
          <button class="btn btn-danger btn-sm">Logout</button>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <ul class="list-group">
            {{ range . }}
            <li class="list-group-item" hx-get="/note/editor?filename={{ . }}">
              <a href="/note/editor?filename={{ . }}">{{ . }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
