<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/static/png/logo.png" alt="logo" width="48" height="48" />
          Papernote
        </a>
      </div>
    </nav>
    <div class="container">
      <form>
        <div class="mb-3">
          <label for="login-username" class="form-label">Username</label>
          <input type="text" class="form-control" id="login-username" />
        </div>
        <div class="mb-3">
          <label for="login-password" class="form-label">Password</label>
          <input type="password" class="form-control" id="login-password" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
