<script>
document.body.addEventListener('htmx:configRequest', function(evt) {
  console.log(evt);
});
</script>
<script type="module">
  import {
    ClassicEditor,
    Essentials,
    Bold,
    Italic,
    Paragraph,
    Markdown,
    Heading,
    CodeBlock,
  } from "ckeditor5";

  const editor;

  ClassicEditor.create(document.querySelector("#editor"), {
    plugins: [CodeBlock, Markdown, Heading, Essentials, Bold, Italic, Paragraph],
    toolbar: {
      items: [
        "heading",
        "undo",
        "redo",
        "|",
        "bold",
        "italic",
        "codeBlock",
      ],
    },
  })
    .then(newEditor => {
      newEditor.setData({{ .Content }});
      editor = newEditor;
    })
    .catch(/* ... */);
</script>
<div class="mb-2">
  <button 
    type="button" 
    class="btn btn-primary btn-sm"
    hx-trigger="click"
    hx-swap="none"
    hx-post="/api/document/save"
    hx-vals='{
               "content": "something" 
             }'
  >
    Save
  </button>
  <button type="button" class="btn btn-danger btn-sm">Cancel</button>
</div>
<div id="editor"></div>

